/* Debug fields */
#input-action {
    position:fixed;
    bottom:0px;
    width:100%;
    padding: 0.2em;
}

#log {
    margin-bottom:2em;
    animate:all 0.5s;
}

/* Main */
body {
    background-color: rgba(75, 193, 110, 0.23);
    overflow:hidden;
}

.small-box{
    padding:1.5em;
    text-align:justify;
    color: #403D3D;
}

.main-title {
    text-align: center;
    font-weight:500;
    color: #585858;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

/* Cards */
@keyframes init-card {
    from {bottom:-11em;}
    to {bottom: 0em;}
}

.card {
    -webkit-box-shadow: 2px -2px 7px 1px rgba(0,0,0,0.55);
    -moz-box-shadow: 2px -2px 7px 1px rgba(0,0,0,0.55);
    box-shadow: 2px -2px 7px 1px rgba(0,0,0,0.55);
    padding:0.6em;
    margin:0.5em;
    height:14em;
    background-color:white;
    border-radius:6px;
    margin-bottom:0em;
    text-align:center;
    position:absolute;
}

.card-tablecard {
}

.card-yourcard {
    height: 11em;
    border-bottom-right-radius: 0em;
    border-bottom-left-radius: 0em;
    animation:init-card 1s forwards;
    transition: height 0.5s, transform 0.5s, z-index 0s 0.5s;
}

.card-yourcard:hover {
    height:14em;
    z-index:5;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.card-thumbnail {
    height:8em;
    display:block;
    margin:auto;
    border-radius: 4em;
}

.card-content {
    padding-top:1em;
    color: #544D4D;
}

#table {
    position: absolute;
    width: 100%;
    top: 30%;
    margin-left:7em;
}

#yourhand {
    position:absolute;
    bottom:0px;
    margin-left:4em;
    width:100%;
}

/* Loading animation */
@keyframes loading {
    from {opacity: 0.1;transform: scale(1,1);}
    to {opacity: 1; transform: scale(1.1,1.1);}
}

#loading-text {
    position:relative;
    padding-top:3em;
    animation:loading 1s infinite alternate;
}

/* Flash message animation */
@keyframes flash {
    from {opacity: 1;transform: scale(1,1);}
    to {opacity: 0; transform: scale(2,2);}
}

#flash-message {
    display:none;
    position:relative;
    padding-top:3em;
    animation:flash 1.5s 1s forwards;
}

/* RESPONSIVE MENU */
.custom-menu-wrapper {
    background-color: #808080;
    margin-bottom: 2.5em;
    white-space: nowrap;
    position: relative;
}

.custom-menu {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
}

.custom-menu .pure-menu-link,
.custom-menu .pure-menu-heading {
    color: white;
}

.custom-menu .pure-menu-link:hover,
.custom-menu .pure-menu-heading:hover {
    background-color: transparent;
}

.custom-menu-top {
    position: relative;
    padding-top: .5em;
    padding-bottom: .5em;
}

.custom-menu-brand {
    display: block;
    text-align: center;
    position: relative;
}

.custom-menu-toggle {
    width: 44px;
    height: 44px;
    display: block;
    position: absolute;
    top: 3px;
    right: 0;
    display: none;
}

.custom-menu-toggle .bar {
    background-color: white;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 22px;
    right: 12px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-menu-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-menu-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-menu-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.custom-menu-screen {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    height: 3em;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.custom-menu-tucked .custom-menu-screen {
    -webkit-transform: translateY(-44px);
    -moz-transform: translateY(-44px);
    -ms-transform: translateY(-44px);
    transform: translateY(-44px);
}

.custom-menu {
    display: block;
}

.custom-menu-toggle {
    display: block;
    display: none \9;
}

.custom-menu-bottom {
    width: 100%;
    text-align: center;
    /*border-top: 1px solid #eee;*/
    background-color: #808080 \9;
    z-index: 100;
}

.custom-menu-bottom .pure-menu-link {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-menu-bottom.custom-menu-tucked .pure-menu-link {
    -webkit-transform: translateX(-140px);
    -moz-transform: translateX(-140px);
    -ms-transform: translateX(-140px);
    transform: translateX(-140px);
    opacity: 0;
    opacity: 1 \9;
}

.pure-menu-horizontal.custom-menu-tucked {
    z-index: -1;
    top: 45px;
    position: absolute;
    overflow: hidden;
}
